<h1 class="text-center">Add Visit Note</h1>

<%= render 'form' %>


<div class="d-flex justify-content-center">

    <%= link_to 'Back', patient_path(@visit.patient), class: "btn btn-danger my-3" %>

</div>