body {
  overflow-x: hidden;
}

.splash-intro {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 100%;
  max-width: 250px;
  margin-bottom: 20px;
}

.splash-text {
  padding: 2rem;
  font-size: 1rem;
  font-weight: bold !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
  width: 50%;
  border-radius: 10px;
  color: #fff;
}

.splash-button {
  margin-top: -2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.container-fluid {
  padding: 0 !important;
}

.sign-up {
  margin-left: -4rem;
  border-radius: 2rem !important;
}

/* .log-in {
  margin-left: 4rem;
  border-radius: 2rem !important;
  padding: 0.45rem 1rem !important;
} */

.login-page {
  align-items: center;
  overflow-y: hidden;
}

.login-image {
  background: #29abe2;
  width: 50%;
  height: 100vh;
  position: relative;
}

.login-image > * {
  position: absolute;
}

.life-logo {
  max-width: 150px;
  color: #fff;
  filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}

.lifeline-logo {
  /* max-width: 150px; */
  margin-bottom: 20px;
  left: 2rem;
  top: 1rem;
}

.signup-img {
  max-width: 400px;
}

.signup-image {
  width: 100%;
  height: 100vh;
  top: 5%;
  left: 7rem;
}

.lifeline-text {
  top: 67%;
  bottom: 1rem;
  color: #fff;
}

.lifeline-text h3 {
  padding-left: 1rem;
}

.lifeline-text p {
  font-size: 13px;
  color: #fff;
  padding: 1.1rem 1rem;
}

.signup-form {
  position: absolute;
  top: 20%;
  left: 60%;
}

.login-page .form-control {
  width: 50vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.account {
  font-size: 0.7rem;
}

.form-input {
  border-radius: 10rem !important;
  max-width: 300px;
}

.signup-content {
  width: 50%;
  margin: 1rem auto;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-hide {
  display: none;
  margin-top: -2rem;
}

.home-icon {
  color: white;
}
